@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anek+Odia:wght@300;400&family=Anek+Tamil:wght@200;300;400&family=Antic+Slab&family=Beau+Rivage&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,400;1,300&family=Kaushan+Script&family=Lato:wght@700;900&family=Lobster&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,400;0,800;1,100;1,300;1,400;1,600;1,900&family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@0,500;1,400&family=Permanent+Marker&family=Poppins:ital,wght@0,300;1,300&family=Rubik+Bubbles&family=Rubik:ital,wght@0,500;0,600;1,400;1,500&family=Titillium+Web:wght@300;400;700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #c4d0e8;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 :root {
  --mainColor:#0f1c50;
  --mainColorLight:#879ef8;
  --secondaryColor:#963941;
  --textColor:#eee;
 }
 ul {
  list-style: none;
  padding-left:0  !important;
}

.app-container {
  width: 1170px;
  margin: 0 auto;
  height: 100vh;
  padding-top: 30px;
}

.table__info {
  text-align: center;
}
.tr-edit input{
  border: none;
  outline: none;
 align-items:center ;
  background-color: #ececec;
}
.add-form{
  display: flex;
  padding: 24px 0;
  gap: 36px;
}
.add-form input  {
  padding: 0 26px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #f2f2f2f2;
}

.btn__export {
  background-color: #41c690 !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  margin: 50px 0;
}